.header{
    height: 60px;
    background: $primary-color-100;
    padding: 5px 0 0 20px;

     
    .brand-logo{
        width: 100%;
        display: inline-block;
        margin-top: 5px;
		height: 45px;
    }

    .brand-logo{	
		background: url(../../../images/huisstijl/logo-woon-compagnie.png) no-repeat;
	}
}

@media only screen and (min-width: 1024px) {
    .head-container{
        background: $primary-color-100;
    }
        
    .header{
        width: 1024px;
        position: relative;
        margin: 0 auto;
        padding-left: 0;
        border: 0;
        .brand-logo{
            width: 250px;
            display: inline-block;
        }
    }		  
}
