
/*clearfix*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
/*---color---*/
$secondary-color-100: #ffab3d;
$secondary-color-200: #ff9306;
$tertiary-color-100: #730037;
$secondary-color-300: #ea7a03;
$secondary-color-200: #ff9306;

.huisstijl-body{
	background:  url(../../../images/huisstijl/background-body.jpg) no-repeat center center fixed; 
	overflow-x: hidden;		 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}	

/*--lose elements--*/ 
.social-xl{
    width: 35px;
    height: 35px;
    background: $primary-color-100;
	color: $primary-color-800;
    border-radius: 100%;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
	font-size: 20px;
	
	.fa-camera-retro {	
		line-height: inherit;
	}
}

.object-detail-page{
	background: $primary-color-100;
	.default-button{
		color: $primary-color-100;
		float: left;
		&:hover{
			background: $secondary-color-100;
		}
	}

	.object-item{
		cursor:auto;
		border: 0;
		&:hover{
			background: none;
		}
		.object-thumb{
			width: 182px;
			height: 121px;
		}
		
		.object-specs{
			width: 40%;
			padding-left: 15px;	
			position: relative;	
			.object-detail{
				min-height: 69px;
				word-break: keep-all;
			}
			
			.price-wrapper{
				text-align: right; 
			}		
		}
		
		.default-button {
			float: right;
		}
	}
}
@media only screen and (min-width: 480px) {
	.object-detail-page{

		.object-item{
			.share-component{
				.addthis_toolbox{
					padding:5px 0;
					.addthis_button_facebook{							
						padding: 5px;
					}
					.addthis_button_twitter{
						padding: 5px;
					}
					.addthis_button_linkedin{
						padding: 5px;
					}
					.addthis_button_email{
						padding: 5px;
					}
					.addthis_button_print{
						padding: 5px;
					}
				}
			}			
		}
	}
}

@media only screen and (min-width: 768px) {
	.object-detail-page{
		.object-item{			
			.object-specs{
				width: 60%;	

				.share-component{
					width: 180px;
					position: absolute;
					right: 0px;
					span{
						display: inline-block;
						margin-right: 5px;
						
					}
					
				}
			}			
		}
	}	
	
	/*-------share-component-----*/
	.object-specs{

		.share-component{
			width: 180px;
			position: absolute;
			right: 0px;
			span{
				display: inline-block;
				margin-right: 5px;
				
			}
			
		}
	}
	
}