.login-button{
	width: 123px;
	height: 30px;
	font-size: 17px;
	top: 21px;
	position: absolute;
	left: 84%; 
	right: 0;
	text-transform: uppercase;
	color: $theme-color-light;

	@media only screen and (max-width: 1024px) {
		width: 20px;
		overflow: hidden;
		top: 14px;
		left: 63px;
		font-size: 0px;
	}

	.fa-user {
		margin-right: 10px;
		color: $theme-color-light;

		@media only screen and (max-width: 1024px) { 
			color: white;
			font-size: 25px;
		}
	}	
	
	&:hover{
		border-bottom: 1px solid $theme-color-light;
			color: $theme-color-dark;
	}
}