  
.main-content{
    width: 100%;
    max-width: 1024px;
    display: block;
    margin: 50px auto;
    position: relative;
}

@media only screen and (max-width: 480px) {	
	.main-content{
		margin: 20px auto;		
	}
}
