.objects-container {
	margin-bottom: 20px;
	width: 620px;
	float: right;
	background: $primary-color-100;
	padding: 0;
	border-top: 1px solid $primary-color-700;

	@media only screen and (max-width: 1024px) {
		width: 100%;
		overflow: hidden;
		margin-bottom: 0;
	}

	.object-item {
		border-bottom: 1px solid $primary-color-700;
		cursor: pointer;
		transition: all 0.2s ease;
		padding: 14px 20px;

		@media only screen and (max-width: 1024px) { 
			padding: 15px 5%;

			&:first-child {
				margin-top: 45px;
			}
		}

		&:hover{
			background: $primary-color-600;
			transition: all 0.2s ease;
		}	

		.object-thumb{
			width: 130px;
			height: 100px;
			float: left;
		}

		.object-specs{
			width: calc(100% - 140px);
			float: left;
			padding-left: 8px;			
			color: $primary-color-800;

			.object-detail{
				
				margin-bottom: 3px;
				float: left;
				word-break: break-all;				
				.theme-color-text{
					color: $secondary-color-200;
				}			
			}
			
			.price-wrapper{	
				width: 100%;
				float: right;
				color: $primary-color-800;
				text-align: right;
			}
		}
	}
}

