.footer-container {
    background: $medium-grey;  
    width:100%;
    min-height: 30px;     
}	

.footer {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    border: 0;
    padding: 15px 0 15px 0;
    position: relative;
    
    @media only screen and (max-width: 1024px) {
        padding: 15px 20px 15px 20px;
    }

    .social-container {
        position: absolute;
        right: 50px; 
        top: 7px;

        .social-xl{
            margin-right: 20px;
        }
    }
    
    .footer_information_links {
        width: 200px;
        margin: -15px 40% 0 ;
        line-height: 0.6;
        display: block;

        @media only screen and (max-width: 768px) {
            display: none;
        }

        li{				
            display: inline-block;	
            padding: 0 10px;
            height: 15px;

            a{
                color: $dark-grey;
                font-size:  10px;
                text-decoration: underline;					
            }
        }
        
        li:first-child { 		
            padding-right: 10px;
            border-right: 1px solid $dark-grey;
        }
    }			
}

.footer-nav-container {
    background: $lightest-grey;
    display: block;

    @media only screen and (max-width: 1024px) {
        display: none;
    }
    
    .footer-nav{
        width: 1024px;						
        margin: 0 auto;
        border: 0;	
        padding: 30px 0 30px 0;
        
        .nav-block{
            height: 220px;
            min-width: 50px;
            border-right: 1px solid $medium-grey;
            display: inline-block;
            padding: 10px 30px 0 25px;
            vertical-align: top;

            li{	
                padding: 2px 0 2px 0;

                h4{
                    text-transform: uppercase;
                    padding-bottom: 15px;
                }

                a{
                    color: $dark-grey;
                    background: url(../../../images/greater-then-icon.gif) 0 4px no-repeat;
                    padding-left: 10px;
                    &:hover{ 
                        text-decoration: underline;								
                    }
                }
                
                p{
                    color: $dark-grey;
                    padding-left: 10px;							
                }
                
                h5{
                    color: $dark-grey;
                    background: url(../../../images/greater-then-icon.gif) 0 4px no-repeat;
                    padding-left: 10px;							
                }
            }
        }				
    }	
}
