  .main-content{
    width: 100%;
    max-width: 1024px;
    display: block;
    min-height: 365px;
    margin: 50px auto;
    position: relative;

    @media only screen and (max-width: 1024px) {	
        min-height: 410px;	
        margin-top:0;
   
        &>h1 {
          background-color: $white-color;
        }
    }
}

