.header{
    background: $white-color;
    padding: 5px 0 0 20px;
    
    .brand-logo{
        width: 100%;
        display: inline-block;
    }
}

@media only screen and (min-width: 1024px) {
    .head-container{
        background: $white-color;
    }
        
    .header{
        width: 1024px;
        position: relative;
        margin: 0 auto;
        padding-left: 0;
        border: 0;
        .brand-logo{
            width: 250px;
            display: inline-block;
        }
    }		  
}
