/*--Colors--*/
$primary-color-100: #ffffff;
$primary-color-200: #f5f5f5;
$primary-color-300: #cacaca;
$primary-color-400: #000000;

$primary-color-500: #f6f6f6;
$primary-color-600: #e1e1e1;
$primary-color-700: #d8d8d8;
$primary-color-800: #707274;

$secondary-color-100: #ffab3d;
$secondary-color-200: #ff9306;
$secondary-color-300: #ea7a03;

$tertiary-color-100: #730037;

.themeColorLight{
	background: $secondary-color-200;
}

.lightestGrey{
	background: $primary-color-500;
}

.lightGrey{
	background: $primary-color-600;
}

.whiteColor{
	background: $primary-color-100;
}

/*--Typography--*/

    /* Font size variables */
    $font-xsmall: 12px;
    $font-small: 12px;
    $font-medium: 16px;
    $font-large: 20px;

  

a:visited{
	color: none;
}

.greater-then-icon-big{
	min-height: 60px;
	width: 10px;
	float: right;       
	background: url(../../../images/greater-then-icon-big.gif) no-repeat center;
}

.greater-then-icon-reverse-big{
	min-height: 60px;
	width: 10px;     
	background: url(../../../images/greater-then-icon-reverse-big.gif) no-repeat center;
}

